.env
certs/*
!certs/.gitkeep
certs/truststore/
!certs/truststore/.gitkeep
.ansible
!databases/export/.gitkeep
databases/export/*tar.gz
databases/*tar.gz
.agents
skills-lock.json
Dockerfile
config/privacyidea/keys/encfile
